<h1>Results</h1>
 <script type="text/javascript">noPlacementsHint("<%= @phyloxml_file %>")</script>
<div id="block">
  <h2>Downloads</h2>
  <div id="download">
    <% i = 0; while i<@names.size %>
       <li><%= link_to "#{@names[i]}", :action => "download" , :jobid => "#{@jobid}", :filename => "#{@filenames[i]}"%></li>
    <% i = i+1; end %>
    <h3>Software</h3>
    <li><%= link_to "Treeviewer", :controller => "data", :action => "treeviewer.zip"%>
  </div>
  <p>Pleace cite: 
    <ul>
      <% @cites.each do |cite| %>
       <%= cite %>
      <% end %> 
  </ul></p>
  
  <p><%= button_to "Submit new job" , :controller => 'raxml', :action => 'submit' %></p>
  <p>
    <%= link_to "Show Treeviewer Help", { :action => 'treehelp' }, :popup => [ '_blank', "toolbar=no, location=no, directories=no, resizable=yes, scrollbars=yes, width=800, height=600" ] %>
  <p>
  
  <APPLET codebase="<%=url_for( :controller => "applets", :action => "archaeopteryx")%>" archive="archaeopteryx_applets.jar" code="org.forester.archaeopteryx.ArchaeopteryxE" width="1000" height="700">
    <param name="url_of_tree_to_load" value='<%=url_for( :controller => "jobs", :action => @jobid, :id => @phyloxml_file, :only_path => false)%>' >
    <param name="config_file" value='<%=url_for( :controller => "applets", :action => "archaeopteryx", :id => "_aptx_configuration_file", :only_path => false)%>'>
  </APPLET>
</p>
</div>
